.border1 {
    border: 1px solid red;
}

.border2 {
    border: 1px solid blue;
}

.border3 {
    border: 1px solid green;
}

textarea {
    resize: none;
    min-height: 9em;
}

body {
    background-color: #202020FF;
    color: #F8F8FF;
}

a {
    text-decoration: none;
    color: #202020FF;
}

a:hover,
a:active {
    text-decoration: none;
    color: #202020FF;
    cursor: pointer;
}

input {
    box-shadow: none !important;
}

.btnPerson {
    background-color: #202020FF;
    color: #F8F8FF;
}


.btnPerson:hover {
    background-color: #000000FF;
    color: #F8F8FF;
}

.btnPerson:active {
    background-color: #F8F8FF;
    border-color: #202020FF;
    color: #202020FF;
}


.btnPerson:focus {
    outline: none;
    box-shadow: none;
}

.CarouselFilmes .buttonCarousel {
    position: absolute;
    width: 50px;
    min-height: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000AF;
    z-index: 1;
    color: white;
    text-decoration: none;
}

.CarouselFilmes .buttonCarousel span {
    font-size: 2em;
}

.CarouselFilmes .buttonCarousel:hover,
.buttonCarousel:active {
    color: #3f3f3f;
    cursor: pointer;
}

.filme {
    width: 90%;
}

.filme:hover {
    cursor: pointer;
}

.filme .card-body {
    position: absolute;
    padding: 5%;
    bottom: 0;
    width: 100%;
    background-color: #00000099;
    color: white;
    height: 15%;
    display: none;
}

.perfil {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
}

.perfil:hover {
    cursor: pointer;
}

.ocultaPass {
    width: 1.5em;
}


.chat {
    background-color: #292929FF;
    color: #F8F8FF;
    border-radius: 3px;
    margin-top: 0.1em;
}

.chat:hover {
    cursor: pointer;
    background-color: #202020;
    color: #F8F8FF;
    -webkit-transition: all 0.2s ease-in-out;

}

.chat:active {
    cursor: pointer;
    background-color: #F8F8FF;
    color: #292929;
}

.gridPerson {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 25%));

}

.modal {
    color: black;
}

.dot {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    display: inline-block;
}

.dot[date-value='active'] {
    background-color: green;
}

.dot[date-value='suspended'] {
    background-color: gold;
}

.dot[date-value='deactivate'] {
    background-color: red;
}

.dot[date-value='noti'] {
    background-color: orange;
}
