.border1 {
    border: 1px solid red;
}

.border2 {
    border: 1px solid blue;
}

.border3 {
    border: 1px solid green;
}

body{
    background-color: #202020FF;
    color: #F8F8FF;
}
a {
    text-decoration: none;
    color: #202020FF;
}

a:hover,
a:active {
    text-decoration: none;
    color: #202020FF;
    cursor: pointer;
}

input {
    box-shadow: none !important;
}

.btn {
    background-color: #202020FF;
    color: #F8F8FF;
}
.btn:hover {
    background-color: #000000FF;
    color: #F8F8FF;
}

.btn:active {
    background-color: #F8F8FF;
    border-color: #202020FF;
    color: #202020FF;
}


.btn:focus {
    outline: none;
    box-shadow: none;
}

.CarouselFilmes .buttonCarousel {
    position: absolute;
    width: 50px;
    min-height: 18em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000AF;
    z-index: 1;
    color: white;
    text-decoration: none;
}

.CarouselFilmes .buttonCarousel span {
    font-size: 2em;
}

.CarouselFilmes .buttonCarousel:hover,
.buttonCarousel:active {
    color: #3f3f3f;
    cursor: pointer;
}

.filme .card-body {
    padding: 5%;
}

.filme:hover {
    cursor: pointer;
}

.filme .card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #00000099;
    color: white;
    height: 18%;
    display: none;
}

.perfil {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
