.Cardcarroseul {
    width: 100%;
    margin: 0 auto;
}
.carousel-item img{
    filter: brightness(50%);
}

#textAb {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    color: white;
}
